---
title: Guides from our Wikis
layout: page
---

<p>
    Up until early 2024, the OneBusAway project had two primary sources of documentation:
    our project wikis and this website. The wikis were much easier to update, but their
    content has grown stale. Nevertheless, much of the information they contain is not
    available anywhere else.
</p>

<p>
    This page contains a list of every OneBusAway configuration guide that was previously
    available on our project wikis. For each guide, you can find the name, original link,
    date last updated, and some information about its purpose.
</p>

<%= render ArticleSummary.new(
    "OBA 2.x Build and Run Guide (App Modules Wiki Home)",
    '/guides/wiki/oba-2x-build-run-guide',
    "April 2022"
) do %>
    Intended to explain how to build and run OBA 2.x.
<% end %>


<%= render ArticleSummary.new(
    "Configuration and Deployment Guide for v2.x",
    '/guides/wiki/oba-2x-config-deploy-guide',
    "October 2021"
) do %>
    This guide is designed to provide a comprehensive deployment method for users who
    wish to set up a simple OneBusAway application with minimal configurations. It is
    primarily intended for use cases that would need to be more permanent than just
    using the quick start version of OneBusAway. Unlike quick start, this solution
    boots with the server automatically with no additional configuration required.
<% end %>

<%= render ArticleSummary.new(
    "v1.x Developer Guide",
    '/guides/wiki/oba-1x-developer-guide',
    "October 2021"
) do %>
    This guide is designed to get you up and running with the OneBusAway application
    suite source code as quickly as possible.
<% end %>

<%= render ArticleSummary.new(
    "GTFS Realtime Resources",
    '/guides/wiki/gtfs-realtime-resources',
    "January 2021"
) do %>
    The OneBusAway application suite has support for both GTFS-realtime import and export.
    The application suite can be used to provide a high-level API from low level GTFS and
    GTFS-realtime data feeds, for example.
<% end %>

<%= render ArticleSummary.new(
    "Enterprise Webapp Configuration",
    '/guides/wiki/enterprise-webapp-configuration',
    "December 2019"
) do %>
    This page documents how to do a minimal deploy of the onebusaway-enterprise-acta-webapp
    module introduced by Pull 176 for v2.0 of OBA.
<% end %>

<%= render ArticleSummary.new(
    "Configuration and Deployment Guide for v1.x",
    '/guides/wiki/oba-1x-config-deploy-guide',
    "August 2018"
) do %>
    This guide is designed to provide a comprehensive deployment method for users who wish
    to set up a simple OneBusAway application with minimal configurations. It is primarily
    intended for use cases that would need to be more permanent than just using the quick
    start version of OneBusAway. Unlike quick start, this solution boots with the server
    automatically with no additional configuration required.
<% end %>

<%= render ArticleSummary.new(
    "Build and Compile Guide for v1.x",
    '/guides/wiki/oba-1x-build-compile-guide',
    "July 2018"
) do %>
    This guide is designed to provide a comprehensive path for users who wish to build a
    OneBusAway binary from the version 1.x source files.
<% end %>

<%= render ArticleSummary.new(
    "GTFS Realtime Quickstart",
    '/guides/wiki/gtfs-realtime-quickstart',
    "September 2017"
) do %>
    Tutorial to get real time data flowing into OBA.
<% end %>

<%= render ArticleSummary.new(
    "Database Guide",
    '/guides/wiki/database-guide',
    "April 2017"
) do %>
    OneBusAway makes use of relational databases in a number of places to store transit
    data and user account information. Here we attempt to describe how to setup and
    configure data-sources as needed and list all the places databases get used.
<% end %>
