<!DOCTYPE html>
<html lang="<%= site.locale %>"
      x-data="{ themeMode: window.localStorage.getItem('mode') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') }"
      :class="{'dark':themeMode=='dark','hidden':!themeMode}"
      :data-theme="themeMode"
      class='hidden h-full'>
  <head>
    <%= render "head", locals: { metadata: site.metadata, title: data.title } %>
  </head>
  <body class="flex min-h-full bg-white antialiased dark:bg-zinc-900" x-data="{nav_open: false}" :class="{'overflow-hidden': nav_open}">
    <div class="w-full">
      <div class="h-full lg:ml-72 xl:ml-80">
        <header
          class="contents lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex">
          <div id="navigation-sidebar"class="contents lg:pointer-events-auto lg:block lg:w-72 lg:overflow-y-auto lg:border-r lg:border-zinc-900/10 xl:w-80 lg:dark:border-white/10">
            <div class="hidden lg:flex sticky top-0 z-20 py-2 px-6 backdrop-blur-sm dark:backdrop-blur bg-white/[var(--bg-opacity-light)] dark:bg-zinc-900/[var(--bg-opacity-dark)]" style="--bg-opacity-light:0.5;--bg-opacity-dark:0.2">
              <%= render 'site_logo' %>
              <div class="absolute inset-x-0 top-full h-px transition bg-zinc-900/7.5 dark:bg-white/7.5"></div>
            </div>

            <%= render 'top_bar' %>
            <%= render 'navbar' %>
          </div>
        </header>

        <div class="relative flex h-full flex-col px-4 pt-14 sm:px-6 lg:px-8">
          <main class="flex-auto">
            <article class="flex h-full flex-col pb-10 pt-16">
              <div class="flex-auto [html_:where(&>*)]:mx-auto [html_:where(&>*)]:max-w-2xl [html_:where(&>*)]:lg:mx-[calc(50%-min(50%,theme(maxWidth.lg)))] [html_:where(&>*)]:lg:max-w-3xl">
                <%= render "bg_checkerboard" %>
                <%= content %>
              </div>
            </article>
          </main>
          <div class="flex flex-col items-center lg:items-start lg:pl-10">
               <a href="https://github.com/OneBusAway/onebusaway-docs/issues/new" 
                  target="_blank" 
                      class="inline-flex items-center text-[#34d399] hover:underline mb-4 lg:order-1 lg:self-start lg:ml-[220px]">
               <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m1.768-4.95a2.5 2.5 0 00-3.536 0L9 11.828V15h3.172l7.707-7.707a2.5 2.5 0 000-3.536zM19 19H5" />
               </svg>
                  Edit this page
               </a>
           </div>
          <div class="hidden md:block sidebar text-xs fixed top-24 right-6 w-fit max-w-60 h-fit"></div>
          <%= render "footer", locals: { metadata: site.metadata } %>
        </div>
      </div>
    </div>
  </body>
</html>
