---
layout: page
title: Downloading the Software
---

<div class="space-y-4">
  <p>You can download pre-built binaries from Cambridge Systematics's Maven Repository.</p>
  <p>
    <strong>Current Version:</strong>
    <code><%= site.metadata.oba_version %></code>
    (Released <%= site.metadata.oba_version_release_date %>)
  </p>

  <ul class='list-disc ml-4'>
    <% site.data.application_modules.each do |k,v| %>
    <li class='ml-8x'>
      <%= k %>
      <% if v['description'] %>
      - <%= v['description'] %>
      <% end %>
      <ul class='list-disc ml-4'>
        <% v['downloads'].each do |url| %>
          <li>
            <a href="<%= url.gsub('{{OBA_VERSION}}', site.metadata['oba_version']) -%>">
              <%= url.split('/').last.gsub('{{OBA_VERSION}}', site.metadata['oba_version']) %>
            </a>
          </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>