<nav class="hidden lg:mt-10 lg:block">
  <ul role="list">
    <li class="md:hidden"><a class="block py-1 text-sm text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white" href="/">API</a></li>
    <li class="md:hidden"><a class="block py-1 text-sm text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white" href="#">Documentation</a></li>
    <li class="md:hidden"><a class="block py-1 text-sm text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white" href="#">Support</a></li>

    <%= render(NavigationSection.new(
      "Home",
      children: {
        "Home" => relative_url('/'),
        "About" => relative_url('/about'),
        "Downloads" => relative_url('/downloads'),
        "Getting Help" => relative_url('/getting-help'),
        "Release Notes" => relative_url('/release-notes')
      }
    )) %>

    <%= render(NavigationSection.new(
      "Guides",
      children: {
        "Quickstart" => relative_url('/guides/quickstart-guide'),
        "Installation" => relative_url('/guides/installation-guide'),
        "Transit Data Bundle" => relative_url('/guides/transit-data-bundle-guide'),
        "Realtime Config" => relative_url('/guides/realtime-configuration-guide'),
        "API Config" => relative_url('/guides/api-webapp-configuration-guide'),
        "Phone (IVR) Config" => relative_url('/guides/phone-webapp-configuration-guide'),
        "Web Config" => relative_url('/guides/webapp-configuration-guide'),
        "Database Config" => relative_url('/guides/database-configuration-guide'),
        "Troubleshooting" => relative_url('/guides/troubleshooting-guide')
      }
    )) %>

    <%= render(NavigationSection.new(
      "Features",
      children: {
        "Web" => relative_url('/features/web'),
        "Phone and SMS" => relative_url('/features/phone-and-sms'),
        "Sign Mode" => relative_url('/features/sign-mode'),
        "GTFS Realtime" => relative_url('/features/gtfs-realtime'),
        "Search API" => relative_url('/api/where/search'),
      }
    )) %>

    <%= render (NavigationSection.new(
      "REST API Methods",
      children: site.data.rest_api['methods'].reduce({}) {|acc, kv| k = kv.first; acc[k] = "/api/where/methods/#{k}"; acc }
    )) %>

    <%= render (NavigationSection.new(
      "REST API Elements",
      children: site.data.rest_api['elements'].reduce({}) {|acc, kv| k = kv.first; v = kv.last; acc[(v['name'] || k)] = "/api/where/elements/#{k}"; acc }
    )) %>
  </ul>
</nav>