<nav class="p-6 pt-8 lg:pt-0 lg:block" :class="{ 'hidden': !nav_open }">
  <ul role="list" class='max-h-[90svh] overflow-y-scroll lg:max-h-fit lg:overflow-auto'>
    <li class="relative mt-10 ml-0 mr-5 lg:hidden">
      <div id="oba-docs-search-container--mobile"></div>
    </li>
    <%= render(NavigationSection.new(
      "Home",
      children: {
        "Home" => '/',
        "About" => '/about',
        "Downloads" => '/downloads',
        "Getting Help" => '/getting-help',
        "Release Notes" => '/release-notes'
      },
      current_path: resource.relative_url
    )) %>

    <%= render(NavigationSection.new(
      "Guides",
      children: {
        "Ported Wiki Guides" => '/guides/ported-wiki-guides',
        "Quickstart" => '/guides/quickstart-guide',
        "Installation" => '/guides/installation-guide',
        "Transit Data Bundle" => '/guides/transit-data-bundle-guide',
        "Realtime Config" => '/guides/realtime-configuration-guide',
        "API Config" => '/guides/api-webapp-configuration-guide',
        "Phone (IVR) Config" => '/guides/phone-webapp-configuration-guide',
        "Web Config" => '/guides/webapp-configuration-guide',
        "Database Config" => '/guides/database-configuration-guide',
        "Troubleshooting" => '/guides/troubleshooting-guide'
      },
      current_path: resource.relative_url
    )) %>

    <%= render(NavigationSection.new(
      "Features",
      children: {
        "Web" => '/features/web',
        "Phone and SMS" => '/features/phone-and-sms',
        "Sign Mode" => '/features/sign-mode',
        "GTFS Realtime" => '/features/gtfs-realtime',
        "REST API" => '/api/where',
        "Search API" => '/api/where/search',
      },
      current_path: resource.relative_url
    )) %>

    <%= render (NavigationSection.new(
      "REST API Methods",
      children: site.data.rest_api['methods'].reduce({}) {|acc, kv| k = kv.first; acc[k] = "/api/where/methods/#{k}"; acc },
      current_path: resource.relative_url
    )) %>

    <%= render (NavigationSection.new(
      "REST API Elements",
      children: site.data.rest_api['elements'].reduce({}) {|acc, kv| k = kv.first; v = kv.last; acc[(v['name'] || k)] = "/api/where/elements/#{k}"; acc },
      current_path: resource.relative_url
    )) %>
  </ul>
</nav>