<header>
  <img src="<%= relative_url('/images/logo.svg') %>" alt="Logo" />
</header>

<nav>
  <ul>
    <li><a href="<%= relative_url('/') %>">Home</a></li>
    <li><a href="<%= relative_url('/about') %>">About</a></li>
    <li><a href="<%= relative_url('/getting-help') %>">Getting Help</a></li>
    <li><a href="<%= relative_url('/downloads') %>">Downloads</a></li>
    <li><a href="<%= relative_url('/release-notes') %>">Release Notes</a></li>
    <li><a href="<%= relative_url('/posts') %>">Posts</a></li>
  </ul>
</nav>
